.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  margin-right: 0.5rem;
  border: 2px groove gray;
  border-radius: 50%;
  height: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: hsl(0, 0%, 5%);
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}
.nav-item-list {
  list-style-type: none;
  display: flex;
}
.nav-item-link {
  display: block;
  padding: 1rem;
}
.menu-button {
  padding: 1rem;
  background-color: yellow;
  width: max-content;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 760px) {
  .nav {
    padding: 0;
  }
  .logo-image {
    margin: 0.5rem;
  }
  .logo-text {
    display: none;
  }
  .menu-button {
    display: block;
    margin: 0.5rem 1rem;
    margin-left: auto;
  }
  .nav-item-list {
    flex-direction: column;
    display: none;
  }
  .active.nav {
    display: block;
  }
  .active .logo-container {
    display: none;
  }
  .active .nav-item-list {
    display: block;
    font-size: 1rem;
  }
  .active .nav-item-link {
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 25%);
  }
}
