.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: hsl(0, 0%, 5%);
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  margin-right: 0.5rem;
  border: 1px solid gray;
  border-radius: 50%;
  height: 2rem;
}
.nav-item-list {
  list-style-type: none;
  display: flex;
}
.nav-item-link {
  display: block;
  padding: 1rem;
}
.menu-button {
  padding: 1rem;
  background-color: yellow;
  width: max-content;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 760px) {
  .nav {
    display: block;
    padding: 0;
    font-size: 1.5rem;
  }
  .nav-top-bar {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .logo-image {
    height: 3rem;
  }
  .menu-button {
    display: block;
  }
  .nav-bottom-bar {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms;
    background-color: hsl(0, 0%, 5%);
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-item-list {
    flex-direction: column;
    text-align: center;
    color: hsl(0, 0%, 75%);
  }
  .hover-underline::after {
    opacity: 0;
  }
  .active .nav-bottom-bar {
    transform: scaleY(1);
  }
  .active .nav-item-link {
    border-bottom: 1px solid hsl(0, 0%, 15%);
  }
}
