@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --dull-white: hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 9%);
  color: var(--dull-white);
  font-family: "Poppins", sans-serif;
}

/* element specfic classes */
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  margin-right: 0.5rem;
  border: 2px groove gray;
  border-radius: 50%;
  height: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: hsl(0, 0%, 5%);
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.nav-item-list {
  list-style-type: none;
  display: flex;
}
.nav-item-link {
  display: block;
  padding: 1rem;
}

.work-section {
  background-color: hsl(0, 0%, 5%);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.work-section-intro {
  text-align: justify;
  background-color: hsl(0, 0%, 9%);
  padding: 1rem;
  border-radius: 1rem;
}
.work-main {
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  background-color: hsl(0, 0%, 9%);
}
.work-main-header {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.work-main-header li {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 1%);
  cursor: pointer;
}
.project-heading.active,
.skills-heading.active {
  background-color: hsl(0, 0%, 9%);
}

.projects-tab,
.skills-tab {
  display: none;
}

.projects-tab.active,
.skills-tab.active {
  display: block;
}
