.projects-heading {
  padding-bottom: 2rem;
  text-align: center;
}
.projects-tab{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  list-style-type: none;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: auto;
  box-shadow: hsla(206, 6%, 75%, 0.3) 0px 1px 2px 0px, hsla(206, 6%, 75%, 0.15) 0px 1px 3px 1px;
  transition: transform 100ms;
}
.project:hover{
  transform: scale(1.02);
}
.project-image {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.7;
  /* filter: brightness(70%); */
}
.project-info {
  position: absolute;
  bottom:0;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
  text-align: left;
  padding-bottom: 5rem;
  background: linear-gradient(hsla(0,0%,0%,0%), hsla(0,70%,50%,100%));
  transform: scaleY(0);
  transition: transform 200ms;
  transform-origin: bottom;
}
.project-heading {
  font-size: 1.5rem;
}
.project-image:hover+.project-info, .project-info:hover{
  transform: scaleY(1);
}
