.work-section {
  background-color: hsl(0, 0%, 5%);
}
.work-section-part-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.work-section-intro-para {
  /* text-align: justify; */
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  color:hsl(0, 0%, 70%);
}
.skills-tab {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap:1rem;
  padding-top:1rem
}

.skill {
  background-color: hsl(0, 0%, 9%);
  border-radius: 0.5rem;
  white-space: pre;
  padding:0.5rem 1rem;
  /* cursor: pointer; */
  color:hsl(0, 0%, 70%);
}


@media screen and (max-width: 760px) {
  .work-section-part-1{
    display: flex;
    flex-direction: column;
  }
  .work-section-intro-para{
    text-align: justify;
  }
}
