*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0,0%,9%);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: hsl(0,0%,5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
}
.nav{
    list-style-type: none;
    display: flex;
}
.nav-item{
    cursor: pointer;
    display: block;
    padding: 1rem;
    color:white;
    text-decoration: none;
}
.nav-item:visited{
    color:white;
}
.nav-item::after{
    content: "";
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background: red;
    transform: scaleX(0);
    transition: transform 200ms;
    transform-origin: left;
}
.nav-item:hover.nav-item::after{
    transform: scaleX(1);
}