$red:hsl(0, 100%, 25%);
$black:hsl(0, 0%, 9%);
$black_dk:hsl(0, 0%, 3%);
$white_lt:hsl(0,0%,75%);
$blue_lt:hsl(240, 50%, 75%);
$blue_dk:hsl(240, 50%, 15%);
$gray:hsl(0,0%,30%);
$red_lt:hsl(0, 75%, 50%);
$red_pure:hsl(0, 100%, 50%);
$darkGradient:radial-gradient($gray,black);
