@use "mixins";
@use "./variables";

.profile-picture {
  border: 2px solid white !important;
}
.caption {
  white-space: pre;
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  @include mixins.small-screen() {
    margin-bottom: 2rem;
  }
}

.about {
  display: grid;
  grid-template-columns: 3fr 8fr;
  padding: 1rem 3rem;
  @include mixins.small-screen() {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .about-content {
    padding: 0 5rem;
    box-sizing: border-box;
    @include mixins.small-screen() {
      padding: 0;
    }
    p{
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}
.hr {
  width: 75%;
  border: none;
  padding: 1px;
  margin: auto;
  margin-bottom: 1rem;
  background: linear-gradient(
    to left,
    variables.$black,
    variables.$red_pure,
    variables.$black
  );
  @include mixins.small-screen() {
    margin-top: 0.5rem;
  }
}
.contact-me {
  background-color: hsl(0, 0%, 3%);
  padding-bottom: 1rem;
  h3 {
    font-size: 2rem;
    padding: 1rem;
    @include mixins.small-screen() {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.contact-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  // padding: 1rem;
  gap: 2rem;
  width: 50%;
  margin: auto;
  @include mixins.small-screen() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.contact-me-item {
  display: block;
  font-size: 5rem;
  // padding: 1rem;
  // background-color: hsl(0, 0%, 3%);
  @include mixins.normalize-link($hover: black);
  @include mixins.small-screen() {
    font-size: 2rem;
  }
}
