@use "mixins";

.collapse-bar {
  text-align: left;
  padding: 1rem 3rem;
  background-color: hsl(0, 0%, 0%);
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
// .collapse-bar:last-child {
//   margin-bottom: 10rem;
// }

.child-collapse-bar {
  padding-left: 6rem;
  border: none;
  @include mixins.small-screen() {
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }
}

.hidden {
  display: none;
}
