@use "mixins";
.collapse-container {
  border-top: 1px solid gray;
}
.collapse-container:last-child {
  border-bottom: 1px solid gray;
}
.collapse-container .collapse-container {
  border: none;
}

.collapse-bar {
  text-align: left;
  padding: 1rem 5rem;
  background-color: var(--primary-dark);
  &:hover {
    cursor: pointer;
    background-color: black;
  }
}

.child-collapse-bar {
  padding-left: 8rem;
  @include mixins.small-screen() {
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }
}

.hidden {
  display: none;
}
