@use "mixins";

.section {
  display: flex;
  padding: 1rem 3rem;
  background-color: var(--primary-dark);
  p {
    width: 85%;
    margin: auto;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--text-secondary);
  }
  h2 {
    font-size: 2rem;
  }
  svg {
    font-size: 10rem;
  }
}
.highlights-heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.highlights-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin: 2rem;
  font-size: 1.5rem;
}

//old styles
.education {
  margin-bottom: 5rem;
}

.education-heading {
  padding-top: 1rem;
}
.education-ruler {
  background: linear-gradient(to left, transparent, blue, transparent);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.education-list {
  width: 75%;
  margin: auto;
  list-style-type: none;
}
.education-list-item {
  box-sizing: border-box;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  border: 2px solid gray;

  background-color: black;
  margin: 1rem 0;
}
.education-institute {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.education-title {
  font-size: 1.5rem;
}
.education-institute-name {
  color: hsl(240, 40%, 75%);
}
.education-institute-duration {
  font-size: 1.5rem;
}
.education-institute-grades {
  font-size: 1.2rem;
  padding: 2rem 1rem 0.5rem 1rem;
  text-align: left;
  color: hsl(120, 15%, 50%);
}
.education-institute-details {
  padding-left: 1rem;
  text-align: left;
}
.education-institute-details > li {
  padding: 0.5rem 1rem;
}

@include mixins.small-screen() {
  .education-list {
    width: 90%;
  }
  .education * {
    font-size: 1em;
  }
  .education-title {
    font-size: 1.2rem;
  }
  .education-list-item {
    padding: 1rem;
  }
  .education-institute-name {
    font-size: 1rem;
  }
  .education-institute-duration {
    font-size: 1rem;
  }
}
