@use "./variables";

* {
  padding: 0;
  margin: 0;
}
body {
  color: variables.$white_lt;
  background-color: variables.$black;
  text-align: center;
  // font-family: "Times New Roman", Times, serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.main-footer{
  border: 1px solid white;
  background-color: black;
  padding: 0.5rem;
  box-sizing: border-box;
  // transform: translateY(100%);
}
