@use "./variables";

* {
  padding: 0;
  margin: 0;
}
body {
  color: white;
  background-color: variables.$black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
