@use "variables";

.navbar {
  background-color: variables.$red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  ul {
    display: flex;
    list-style-type: none;
  }
}
.nav-item {
  display: block;
  padding: 0.5em;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }
  &:hover {
    background-color: hsl(0, 100%, 15%);
  }
}
