html {
  --primary: hsl(0, 0%, 9%);
  --primary-dark: hsl(0, 0%, 3%);
  --secondary: hsl(0, 75%, 50%);
  --secondary-dark: hsl(0, 100%, 25%);
  --text-primary: hsl(0, 0%, 75%);
  --text-secondary: hsla(0, 0%, 75%,0.7);
  --accent-1: hsl(240, 50%, 20%);
  --accent-1-hover: hsl(240, 50%, 10%);
  --border:hsl(0,0%,30%);
}
