html {
  --primary: hsl(0, 0%, 9%);
  --primary-dark: hsl(0, 0%, 3%);
  --secondary: hsl(0, 75%, 50%);
  --text-primary: hsl(0, 0%, 75%);
  --accent-1: hsl(240, 50%, 20%);
  --accent-1-hover: hsl(240, 50%, 10%);
  /* --accent-2: hsl(240, 50%, 75%); */
}
